@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald&family=Poppins:wght@200;300;400;500&display=swap');

:root{
 --color-light: #f8fafc;
 --color-dark-1: #797984;
 --color-dark-2: #312d37;
 --color-dark-3: #000;

 --color-blue-1: #fde047;
 --color-blue-2: #facc15c5;
 --color-blue-3: #eab308;

--color-gradient: linear-gradient(90deg, (var(--color-blue-1)) var(var(--color-blue-2)), var(var(--color-blue-3)));

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vw;
    width: 100%;
    background-color: var(--color-blue-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.336);
    height: fit-content;
}

#form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-header h1 {
    font-size: 40px;
    position: relative;
}

#form-header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    background-color: var(--color-blue-3);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}

#mode-icon {
    cursor: pointer;
    font-size: 20px;
}

#social-media {
    display: flex;
    justify-content: space-around;
}

#social-media img {
    width: 40px;
}

#social-media img:hover {
    transform: scale(1.2);
}

#inputs {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;

}

.input-box label{
    font-size: 14px;
    color: var(--color-dark-1);

}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-blue-3);
}

.input-field i {
    font-size: 18px;
    color: var(--color-dark-3);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}

.forgot-password a {
    text-decoration: none;
    font-size: 13px;
    color: var(--color-dark-2);

}

.forgot-password a:hover {
    color: #797984;
}

#login-button {
    border: none;
    background-color: var(--color-blue-3);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login-button:hover {
    background-color: #ecba24ea;
    transform: scale(1.05);
}